*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
    display: flex;
    width: 98%;
    height:1000px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url('../images/wireframe.jpg');
    border: 1px solid white; 
  }

  body{
      margin:0px;
      background-color:#efefef;   
      background-image:url('../img/fundo.jpg');
      background-repeat: repeat-x;
   }
   
   main{
    display:flex;
    flex-direction: column;
    width: 75%;
    height:1000px;
    background-image: url('../images/bckmain.png');
    border: 2px solid white;
   }

   aside{
    width: 24%;
    height:1000px;
    padding: 10px;
    background-image: url('../images/bckside.png');
    border: 2px solid white;
   }

   .canvas-display{
    width: 100%;
    height:800px;
    background-image: url('../images/bckside.png');
    border: 2px solid white;
   }

   footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 99%;
    height:150px;
    margin: 10px;
    background-image: url('../images/bckcontainers.png');
    border: 2px solid white;
   }

   .container-display{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    background-image: url('../images/bckcontainers.png');
    border: 2px solid white;
   }

   .container-tools{
    width: 100%;
    height: 490px;
    background-image: url('../images/bckcontainers.png');
    border: 2px solid white;
    margin-bottom: 10px;
   }

   .container-socialmedia{
    width: 100%;
    height: 146px;
    background-image: url('../images/bckcontainers.png');
    border: 2px solid white;
    margin-bottom: 10px;
   }