* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
 font-size: 62.5%; 
}

.wrapper{
    display: flex;
    width: 98%;
    height:925px;
    margin: 0 auto;
  }

  body{
   font-family: 'Courier New', Courier, monospace; 
  }

  h1{
    font-size: 3.5rem;
  }
   
   main{
    display:flex;
    flex-direction: column;
    width: 75%;
    height:auto;
    background-image: url('../images/bckcontainers.png');
   }

   aside{
    width: 24%;
    height:auto;
    padding: 10px;
    background-image: url('../images/bckcontainers1.png');
   }

   .canvas-display{
    width: 100%;
    height: 800px;
    background-image: url('../images/bckblack.png');
    border: 1px solid white;
   }

   footer{
    display: flex;
    justify-content:space-around;
    width: 99%;
    height:130px;
    margin: 10px;
    background-image: url('../images/bckcontainers1.png');
   }

   .footer-channel{
    display: flex;
    width: 39%;
    height: auto;  
    
    justify-content: center;
    align-items: center;
   }

   .footer-channel img{
    
    width: 99%;
    height: auto;   
   }

   .footer-title{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: auto;
    margin-left: 10px;
   }

   .container-display{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    background-image: url('../images/bckgray.png');
   }

   .container-tools{
    width: 100%;
    height: 450px;
    background-image: url('../images/bckcontainers.png');
    margin-bottom: 30px;
   }

   .container-socialmedia{
    display: flex;
    justify-content: space-around;
    align-items: center;   
    width: 100%;
    height: 123px;
   }

   .socialmedia-logo{
    width: 80px;
    height: 79px;
    margin: 5px;
   }