*{
  margin: 0;
  padding: 0;
}

.wrapper{
    display: flex;
    width: 98%;
    height:1000px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url('../images/wireframe.jpg');
    border: 1px solid white; 
  }

  body{
      margin:0px;
      background-color:#efefef;   
      background-image:url('../img/fundo.jpg');
      background-repeat: repeat-x;
   }
   
   main{
    width: 75%;
    height:1000px;
    background-image: url('../images/bckmain.png');
    border: 2px solid white;
   }

   aside{
    width: 24%;
    height:1000px;
    background-image: url('../images/bckside.png');
    border: 2px solid white;
   }